@import 'variables';
.section-footer{
    text-align: center;
    p{
        color: $white;
        margin-top: 10px;
        font-size: 14px;
        font-style: italic;

    }
    // .social-media-collection{
        
    // }
}