
// @import 'variables';
@import 'global';
.header-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    // padding: 5px 0px;
    .overlay-container{
        padding: 5px 0px;
        &::after{
            @extend %overlay-effect;
            content: '';
                // overflow: hidden;
        
            background-color: $black;
            opacity: 0.6;
            transition: opacity 0.3s;

        }

        &:hover{
            &::after{
                opacity: 1;
            }
           
        }

    }

    .header-content{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $md) {
            //flex-direction:row-reverse;

        }
        //padding: 5px 0px;
   

    }

    .spacer{
        height: 20px;
        width: 2px;
        border-radius: 20px;
        background-color: white;
        margin: 0px 10px;
        //height: 5px;
    }
    .logo{
        color: $white;
        font-size: 18px;
        margin: 0px;
    }

    .left{
        display: flex;
        align-items: center;
        // & > *{
        //     margin-left: 10px;
        // }
    }

    .right{
        // & > *{
        //     margin-left: 10px;
        // }
        display: flex;
        align-items: center;
        
    }

    .resume{
        a{
            color: $white;

        }
    }

    .social-media-collection{
        a{
            color: white;
            width: auto;
            height: auto;
            background-color: transparent;
        }
    }



    button{
        padding: 0px;
        margin: 5px;
        //padding: 5px 10px;
        border: none;
        background-color: transparent;
        color: white;
        outline: none;

        svg{
            font-size: 25px;
        }
        // padding: 5px 10px;
    }


 
}


.nav-list{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;

    // flex-direction: column;
    .nav-item{
   
        a{
            display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: 20px;
            // background-color: transparent;
            color: white;
            padding: 5px 10px;
            // transition: background-color 0.3s;


            // &:hover{
            //     text-decoration: underline;
            // }
            //text-decoration: unset;
        }
    }
}

.menu-fullscreen{
    .nav-item{
        margin-right: 10px;
        a{

            &:hover{
                color: $blue;
            }
            // &:hover{
            //     //@extend .text-underline;
            //     // background-color: $white;
            //     // color: $black;
            //     // padding-bottom: 2px;
            //     // border-bottom: solid 3px $white;
            //     color: $blue !important;
            // }
        }
        // a{
        //     display: block;
        //     text-decoration: none;
        //     font-weight: 500;
        //     font-size: 20px;
        //     // background-color: transparent;
        //     color: white;
        //     padding: 5px 10px;
        //     // transition: background-color 0.3s;

        //     &:hover{
        //         //@extend .text-underline;
        //         // background-color: $white;
        //         // color: $black;
        //         padding-bottom: 2px;
        //         border-bottom: solid 3px $white;
        //     }
        //     // &:hover{
        //     //     text-decoration: underline;
        //     // }
        //     //text-decoration: unset;
        // }
    }
}

.menu-mobile-wrapper{
    .nav-list{
        margin-top: 10px;
        flex-direction: column;
        .nav-item{
            margin-bottom: 5px;

            // margin-right: 10px;
            a{
                @extend %default-font-size;
                background-color: white;
                color: black;
                // display: block;
                // text-decoration: none;
                // font-weight: 500;
                // font-size: 20px;
                width: 100%;

                &:hover{
                    color: $blue;
                }
                // background-color: transparent;
                // color: white;
                // padding: 5px 10px;
                // transition: background-color 0.3s;

                // &:hover{
                //     //@extend .text-underline;
                //     // background-color: $white;
                //     // color: $black;
                //     padding-bottom: 2px;
                //     border-bottom: solid 3px $white;
                // }
                // &:hover{
                //     text-decoration: underline;
                // }
                //text-decoration: unset;
            }
        }
    }
}


